html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  position: relative;
  min-height: 100vh;
  font-size: 18px;
}

header{
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 42px;
      padding-right: 42px;
      background-color: #21314b;
      height: 5vh;

            .nav-manu {
                  display: none;
            }   
      }

.hero {
  background-image: url('/src/adset/ai-generated-8694039_1280.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.hero-text {
  color: white;
  font-size: 30px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  width: 60%;
  margin-bottom: 36px;

      h1{
            font-size: 60px;
            margin: 8px 0;
      }

      p{
            text-transform: lowercase;
            font-size: 20px;
            margin: 8px 0 32px 0;
            display: none;
      }
}

.main-text{
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.section{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-direction: column;    

      width: 80%;
      text-align: center;
      margin-bottom: 32px;
}

.services-box{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.box{
      width: auto;
      margin-bottom: 24px;
}

h2{
      text-transform: capitalize;
}

h4{
      text-transform: uppercase;
}

.click-to-action{
      background-color: #1b6bbd;
      color: white;
      text-transform: uppercase;
      padding: 8px 32px;
      border-radius: 8px;
      border-color: #1b6bbd;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
}

footer{
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #21314b;
      height: 12vh;

}

@media (min-width: 1200px) {
      header{
            height: auto;

            .nav-manu{
                  text-transform: capitalize;
                  display: block;
            }

            .nav-items{
                  list-style-type: none;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
            }

            .nav-item{
                  padding: 12px 24px;
            }

            .link {
                  text-decoration: none;
                  color: white;
                  cursor: pointer;
            }
      }

      .no-mob-show{
            display: block;
      }

      .hero{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 90vh;
      }

      .hero-text{
            margin-right: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: self-start;
            width: 30%;

            p{
                  display: block;
            }

      }

      .section{
            width: 70%;
      }

      .services-box {
            display: flex;
            flex-direction: row;
            gap: 40px;
      }

      .box{
            width: 35%;
      }
}